server:
  statistics-interval: 300
  num-threads: 8
  interface: 0.0.0.0
  access-control: 0.0.0.0/0 allow
  do-not-query-localhost: no
  domain-insecure: "consul"
  domain-insecure: "dd"
  interface-automatic: yes
  rrset-roundrobin: yes

{{ env "UNBOUND_LOCAL_DATA" }}

{{ env "UNBOUND_STUB_ZONE" }}

{{ env "UNBOUND_FORWARD_ZONE" }}
